// Color system
$white: #fff;

$blue-100: #ebefff;
$blue-500: #4a6cf7;
$blue-600: #2951f7;

$gray-50: #f8fafc;
$gray-300: #cbd5e1;
$gray-900: #0f172a;

// Spacer
$spacer: 8px;

// Borders
$border-radius: 16px;
$border-width: 1px;
$border-color: $gray-300;

// Icons
$icon-size: 24px;
$icon-size-lg: 48px;

// Font sizes
$font-size-base: 16px;
$font-size-lg: 18px;

// Font weights
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line heights
$line-height-base: 1.5;
$line-height-headings: 1.2;

// Transition
$transition-base: 0.2s ease-in-out;

// Grid
$grid-breakpoints: (
        xs: 0,
        md: 799px,
        lg: 1280px,
);


$container-max-widths: (
        md: 1140px,
);

$name:                                                  xs;
$flexboxgrid-grid-columns:                              12;
$flexboxgrid-gutter-width:                              8px;
$flexboxgrid-outer-margin:                              $flexboxgrid-gutter-width * 2 !default;
$gutter-compensation:                                   $flexboxgrid-outer-margin * .5 * -1 !default;
